body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 40px;

}

.score-box {
    width: 117px;
    height: 120px;
    border-radius: 5px;
    color: black;
    background-color: #080001;
    display: flex;
    justify-content: center;
    align-items: center;


}

.score-box span {
    font-family: 'Cursed Timer ULiL', monospace;
    font-weight: 400;
    font-size: 90px;
    color: #F94F6D;
    
}
.score-frame {
    width: 155px;
    height: 120px;
    opacity: 1;
    border-radius: 5px;
    background-color: #080001;
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-points-btns-home {
    display: flex;
    width: 155px;
    height: 45px;
    gap: 12px;
    justify-content: space-evenly;
    margin-top: 20px;

}

.add-points-btns-home button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-family: 'Cursed Timer ULiL', monospace;

    
}